<h1 class="text-3xl font-bold "> THIS WILL BE YOUR LIST 📘 </h1>
<ol>
  <% @tasks.each do |task| %>
    <% unless task.completed %>
      <li class="list-unstyled"><i class="fa-solid fa-square-check"></i><%= link_to task.title, task_path(task) %></li>
    <% else %>
      <li class="list-unstyled"><i class="fa-regular fa-square"></i><%= link_to task.title, task_path(task) %></li>
    <% end %>
  <% end %>
  <%= link_to "Create new task", new_task_path %>
</ol>
